body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
}

.board {
    height: 400px;
    width: 400px;
    background-color: blue;
    padding: 12px;
    gap: 12px;
    font-size: 96px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.square {
    background-color: aqua;
}